<div class="row">
  <div class="left three cols">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="right nine cols">
    <div class="feature-videos">
      <div class="row">
        <h6 class="favorite-heading"><i class="icon ion-star"></i>&nbsp;お気に入り動画</h6>
        <% if @favorite_articles.size > 0 %>
          <a class="remove-favorites"><i class="icon ion-trash-a"></i>&nbsp;お気に入りをすべて削除</a>
        <% else %>
          <p class="tx-center"><i class="icon icon ion-star"></i>&nbsp;お気に入り動画がありません</p>
        <% end %>
      </div>
      <% @favorite_articles.each_slice(2) do |articles| %>
        <div class="row">
          <% articles.each do |article| %>
            <div class="six cols card">
              <%= render 'layouts/article_card', article: article %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row tx-center">
        <%= paginate @favorite_articles %>
      </div>
    </div>
  </div>
</div>
