<div class="row">
  <div class="left three cols">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="right nine cols">
    <div class="feature-videos">
      <div class="row">
        <h6 class="sub-heading"><i class="icon ion-flash"></i>&nbsp;お気に入り動画</h6>
      </div>
      <% @favorite_articles.each_slice(2) do |articles| %>
        <div class="row">
          <% articles.each do |article| %>
            <div class="six cols card">
              <%= render 'layouts/article_card', article: article %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div class="row tx-center">
        <%= paginate @favorite_articles %>
      </div>
    </div>
  </div>
</div>
