<div class="row">
  <div class="left three cols">
    <%= render 'layouts/manage_side_bar' %>
  </div>
  <div class="right nine cols">
    <% @articles.each_slice(3) do |articles| %>
      <div class="row">
        <% articles.each do |article| %>
          <%= link_to edit_article_path(id: article.id) do %>
            <div class="three cols card">
              <div class="image-head" style="background-image: url(<%= article.thumbnail %>);">
                <h5 class="title"><%= article.title %></h5>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
