<div class="row">
  <h6 class="sub-heading">『<%= params[:search] %>』の動画</h6>
</div>
<div class="twelve cols">
  <% @articles.each_slice(3) do |articles| %>
    <div class="row">
      <% articles.each do |article| %>
        <div class="four cols card">
          <%= render 'layouts/article_card', article: article %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="row tx-center">
    <%= paginate @articles %>
  </div>
  <div class="row">
    <h6 class="sub-heading">おすすめのタグ</h6>
  </div>
  <div class="twelve cols">
    <% @sidebar_tags.each do |tag| %>
      <%= render 'layouts/tag', tag: tag %>
    <% end %>
  </div>
</div>
