<div class="row">
  <div class="owl-carousel">
    <div class="item"><img src="http://placeimg.com/300/200/people" alt="Owl Image"></div>
    <div class="item"><img src="http://placeimg.com/300/200/arch" alt="Owl Image"></div>
    <div class="item"><img src="http://placeimg.com/300/200/nature" alt="Owl Image"></div>
    <div class="item"><img src="http://placeimg.com/300/200/tech" alt="Owl Image"></div>
    <div class="item"><img src="http://placeimg.com/300/200/sepia" alt="Owl Image"></div>
  </div>
</div>
<div class="row">
  <div class="left three cols">
    <div class="sidebar twelve cols">
      <div class="card">
        <div class="head">
          <i class="icon ion-android-list"></i>&nbsp;メニュー
        </div>
        <div class="body card-menu">
          <ul>
            <li>トップ</li>
            <li>ランキング（全期間）</li>
            <li>ランキング（月間）</li>
            <li>ランキング（週間）</li>
            <li>ランキング（）</li>
          </ul>
        </div>
        <div class="foot">
          <a href="#" class="full-x card-btn">
            <i class="icon ion-connection-bars"></i>&nbsp;ランキングをもっと見る
          </a>
        </div>
      </div>
      <div class="card">
        <div class="head">
          <i class="icon ion-pricetags"></i>&nbsp;人気のタグ
        </div>
        <div class="body card-menu">
          <ul>
            <li>アイウエオ</li>
            <li>カキクケコ</li>
            <li>さしすせそ</li>
            <li>たちつてと</li>
            <li>なにぬねの</li>
            <li>はひふへほ</li>
            <li>まみむめも</li>
            <li>やゆよ</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="right nine cols">    
    <div class="row">
      <h6 class="tx-center" style="font-size: 18px;"><i class="icon ion-speakerphone"></i>&nbsp;当サイトおすすめ動画</h6>
    </div>
    <div class="row">
      <div class="three cols card" style="height: 132px">
        <div class="image-head" style="background-image: url(http://placeimg.com/400/200/animals);">
          <h5 class="title">This is image header.</h5>
        </div>
      </div>
      <div class="three cols card" style="height: 132px">
        <div class="image-head" style="background-image: url(http://placeimg.com/400/200/arch);">
          <h5 class="title">This is image header.</h5>
        </div>
      </div>
      <div class="three cols card" style="height: 132px">
        <div class="image-head" style="background-image: url(http://placeimg.com/400/200/nature);">
          <h5 class="title">This is image header.</h5>
        </div>
      </div>
      <div class="three cols card" style="height: 132px">
        <div class="image-head" style="background-image: url(http://placeimg.com/400/200/people);">
          <h5 class="title">This is image header.</h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="three cols card" style="height: 132px">
        <div class="image-head" style="background-image: url(http://placeimg.com/400/200/tech);">
          <h5 class="title">This is image header.</h5>
        </div>
      </div>
      <div class="three cols card" style="height: 132px">
        <div class="image-head" style="background-image: url(http://placeimg.com/400/200/grayscale);">
          <h5 class="title">This is image header.</h5>
        </div>
      </div>
      <div class="three cols card" style="height: 132px">
        <div class="image-head" style="background-image: url(http://placeimg.com/400/200/sepia);">
          <h5 class="title">This is image header.</h5>
        </div>
      </div>
      <div class="three cols card" style="height: 132px">
        <div class="image-head" style="background-image: url(http://placeimg.com/400/200/animals);">
          <h5 class="title">This is image header.</h5>
        </div>
      </div>
    </div>
    <img src="https://lh6.ggpht.com/41LFWBytPnxKsfZf6mivs6ba7qdOBtfk9-7MzWSMqwC3IFOvaXd8rejFiyeXKfBOK16mMEopeA=w728" width="100%;" alt="" />
    <div class="row">
      <div class="twele cols card">
        <div class="head">
          動画タイトル
        </div>
        <div class="body">
          <img src="http://placeimg.com/400/200/grayscale" width="100%" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
