<div class="row">
  <%= render 'layouts/featured_videos' %>
</div>
<div class="row">
  <div class="left three cols">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="right nine cols">
    <div class="popular-videos">
      <div class="row">
        <h6 class="sub-heading"><i class="icon ion-ribbon-b"></i>&nbsp;人気動画</h6>
      </div>
      <% @popular_articles.each_slice(2) do |articles| %>
        <div class="row">
          <% articles.each do |article| %>
            <div class="six cols card">
              <%= render 'layouts/article_card', article: article %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="feature-videos">
      <div class="row">
        <h6 class="sub-heading"><i class="icon ion-flash"></i>&nbsp;新着動画</h6>
      </div>
      <% @latest_articles.each_slice(2) do |articles| %>
        <div class="row">
          <% articles.each do |article| %>
            <div class="six cols card">
              <%= render 'layouts/article_card', article: article %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
