@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body {
  font-family: 'Noto Sans Japanese', sans-serif;
}

input {
  padding: 8px;
  margin-bottom: 8px !important;
}

textarea {
  width: 100%;
  margin-bottom: 8px !important;
}

select {
  width: 100%;
  height: 36px;
  margin-bottom: 8px !important;
}
.logo {
  font-family: 'Rammetto One', cursive;
  color: #333;
}
.logo p {
  margin-top: -22px;
  font-size: 10px;
  transform: scale(0.85);
  line-height: 2.8;
}
.erp-header-wrapper {
  width: 1200px;
  margin: auto;
  text-align: center;
  display: flex;
}
.erp-header-wrapper .left {
  margin: auto;
  width: 60px;
}
.erp-header-wrapper .center {
  width: 80%;
  margin: auto;
}
.erp-header-wrapper .center p {
  margin-bottom: 0;
}
.erp-header-wrapper .right {
  margin: auto;
  position: relative;
  line-height: 8px;
  width: 60px;
}
.erp-header-wrapper .right p {
  font-size: 10px;
  display: inline-block;
  margin-bottom: 0;
  line-height: 1.1;
}
@media (max-width:800px) {
  .erp-header-wrapper .right p {
    transform: scale(0.8);
  }
}
.erp-header-wrapper .right i {
  font-size: 24px;
}
.erp-header-wrapper .right .favorite-badge {
  font-size: 24px;
  position: absolute;
  background-color: rgba(235,116,19,1);
  height: 8px;
  width: 8px;
  border-radius: 50%;
  display: none;
}
.erp-header {
  background-color: #fff;
  height: 60px;
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.erp-header .logo {
  font-size: 20px;
  line-height: 50px;
}

.wrapper {
  margin-top: 60px;
}
.pack {
  padding: 12px;
}
.card .image-head h5 {
  font-size: 14px;
}

.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.video-info {
  padding: 8px;
}
.video-info .video-title {
  font-size: 20px;
  line-height: 1.4;
}
.tag {
  background-color: #fdb0bd;
  color: #fff;
  padding: 4px 12px;
  font-size: 11px;
  height: 18px;
  border-radius: 4px;
  margin-bottom: 4px;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
}
.tag:hover {
  opacity: 0.8;
}
.video-meta {
  position: relative;
  font-size: 13px;
  color: #aaa;
  height: 4px;
}
.video-meta .left {
  position: absolute;
  top: 8px;
  left: 0;
}
.video-meta .right {
  position: absolute;
  top: 4px;
  right: 0;
}
.feature-videos .card {
  height: auto;
  border-radius: 0;
}

@media (max-width:800px) {
  .feature-videos .card {
    height: auto;
  }
}
.card .summary {
  position: relative;
}
.card .summary img {
  height: 120px;
  width: 50%;
  position: relative;
}
.card .summary .info {
  height: 120px;
  position: relative;
  width: 47%;
  font-size: 14px;
  line-height: 1.25;
  float: right;
  overflow: hidden;
}

.card .summary .video-summary .duration {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #999;
  font-size: 13px;
}
.card .image-duration {
  position: absolute;
  color: #eee;
  right: 12px;
  top: 8px;
  font-weight: 400;
}

.card .summary .video-summary .host {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #999;
  font-size: 13px;
}

.card .summary .video-summary p {
  height: 100px;
  overflow: hidden;
}

.card-overlay {
  background: rgba(0,0,0,0.2);
  background: -webkit-linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1), rgba(0,0,0,.35), rgba(0,0,0,0.8));
  background: -o-linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1), rgba(0,0,0,.35), rgba(0,0,0,0.8));
  background: -moz-linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1), rgba(0,0,0,.35), rgba(0,0,0,0.8));
  background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1), rgba(0,0,0,.35), rgba(0,0,0,0.8));
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card .head {
  text-align: justify;
}

.sub-heading {
  font-size: 20px;
  margin: 4px 0 12px 0;
  text-align: center;
  background-color: rgba(255,140,160,1);
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  border-radius: 24px;
  padding: 4px 0;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(255,255,255,.4);
  letter-spacing: 2px;
  text-shadow: #E37D8F 1px 1px,
               #E37D8F 2px 2px,
               #E37D8F 3px 3px,
               #E37D8F 4px 4px,
               #E37D8F 5px 5px,
               #E37D8F 6px 6px,
               #E37D8F 7px 7px,
               #E37D8F 8px 8px,
               #E37D8F 9px 9px,
               #E37D8F 10px 10px,
               #E37D8F 11px 11px,
               #E37D8F 12px 12px,
               #E37D8F 13px 13px,
               #E37D8F 14px 14px,
               #E37D8F 15px 15px,
               #E37D8F 16px 16px,
               #E37D8F 17px 17px,
               #E37D8F 18px 18px,
               #E37D8F 19px 19px,
               #E37D8F 20px 20px,
               #E37D8F 21px 21px,
               #E37D8F 22px 22px,
               #E37D8F 23px 23px,
               #E37D8F 24px 24px,
               #E37D8F 25px 25px,
               #E37D8F 26px 26px,
               #E37D8F 27px 27px,
               #E37D8F 28px 28px,
               #E37D8F 29px 29px,
               #E37D8F 30px 30px;
  overflow: hidden;
}

.favorite-heading {
  font-size: 20px;
  margin: 4px 0 12px 0;
  text-align: center;
  background-color: #eb7413;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
  border-radius: 24px;
  padding: 4px 0;
  color: #fff;
  text-shadow: 0px 0px 4px rgba(255,255,255,.4);
  letter-spacing: 2px;
  text-shadow: #cc6510 1px 1px,
               #cc6510 2px 2px,
               #cc6510 3px 3px,
               #cc6510 4px 4px,
               #cc6510 5px 5px,
               #cc6510 6px 6px,
               #cc6510 7px 7px,
               #cc6510 8px 8px,
               #cc6510 9px 9px,
               #cc6510 10px 10px,
               #cc6510 11px 11px,
               #cc6510 12px 12px,
               #cc6510 13px 13px,
               #cc6510 14px 14px,
               #cc6510 15px 15px,
               #cc6510 16px 16px,
               #cc6510 17px 17px,
               #cc6510 18px 18px,
               #cc6510 19px 19px,
               #cc6510 20px 20px,
               #cc6510 21px 21px,
               #cc6510 22px 22px,
               #cc6510 23px 23px,
               #cc6510 24px 24px,
               #cc6510 25px 25px,
               #cc6510 26px 26px,
               #cc6510 27px 27px,
               #cc6510 28px 28px,
               #cc6510 29px 29px,
               #cc6510 30px 30px;
  overflow: hidden;
}

.detail-heading {
  margin: 20px 0;
  border-bottom:
  dashed 1px #999;
  display: inline-block
}
.sidebar-search  {
  padding: 8px 16px 12px 16px !important;
}
.sidebar-search form {
  padding: 0 !important;
}
.sidebar-search input {
  margin-top: 8px;
  width: 100%;
}

.feature-videos .card .head, .popular-videos .card .head, .latest-videos .card .head, .favorite-videos .card .head {
  height: 48px;
  overflow: hidden;
}


/* --------------------------------

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 60px;
  }
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 1px solid #f2f2f2;
}
.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: #8F3985;
}
@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /*
  	show primary nav - mobile only
  	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}

footer h5 {
  font-size: 15px;
  margin: 12px 0;
}

footer li {
  list-style: none;
  font-size: 13px;
  color: #ccc;
}

footer .copyright {
  font-size: 10px;
  margin: 16px 0;
}

footer .footer-content {
  width: 85%;
}

@media (min-width:800px) {
  footer .footer-content {
    width: 65%;
  }
}

/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  text-align: center;
  line-height: 32px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  font-weight: bold;
  z-index: 10;
}

/* Custom styles */

.corner-ribbon.sticky{
  position: absolute;
}

.corner-ribbon.shadow{
  box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
  top: 10px;
  left: -70px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}


/* Colors */

.corner-ribbon.red{background: #e43;}

.head .circle-button {
    right: 4px;
    margin-top: 0px;
    z-index: 10;
}

.circle-button i {
    padding-left: 12px;
    font-size: 20px;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}

.add-favorite-btn {
  font-size: 10px;
  background: rgba(235,116,19,1);
  color: #fff;
  padding: 2px 8px 4px 8px;
  border-radius: 12px;
  position: absolute;
  right: 8px;
  bottom: 6px;
  cursor: pointer;
}

.delete-favorite-btn {
  font-size: 10px;
  background: #106ecc;
  color: #fff;
  padding: 2px 8px 4px 8px;
  border-radius: 12px;
  position: absolute;
  right: 8px;
  bottom: 6px;
  cursor: pointer;
}

.remove-favorite-btn {
  color: maroon;
  border-bottom: dashed 1px maroon;
  float: right;
  margin-bottom: 12px;
  cursor: pointer;
}

.alert {
  position:fixed;
  left:0;
  right:0;
  bottom:0px;
  height:50px;
  background-color:#333;
  color:#fff;
  padding: 0 24px;
}
.alert span {
  line-height: 50px;
}
.alert .error {
  position:absolute;
  line-height: 50px;
  color: #ff4d4d;
}

.alert .favorite-link {
  float: right;
  line-height: 50px;
  color: rgba(235,116,19,1);
}



@media (min-width:800px) {
  .alert {
    position:fixed;
    bottom: 12px;
    z-index: 300;
    right: 12px;
    left: auto;
    border-radius: 6px;
    width: 320px;
    height:30px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    background-color: #333;
    color: #ccc;
    opacity: 0.85;
    padding: 24px 36px;
  }
  .alert span {
    position:absolute;
    line-height: 30px;
  }
  .alert .error {
    position:absolute;
    line-height: 30px;
    color: #ff4d4d;
  }
  .alert .favorite-link {
    float: right;
    line-height: 30px;
    color: rgba(235,116,19,1);
  }
}
