.logo {
  font-family: 'Press Start 2P', cursive;
  color: #333;
}

.logo-wrapper {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.erp-header {
  background-color: #fff;
  height: 60px;
  width: 100%;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
}

.erp-header .logo {
  font-size: 24px;
  line-height: 60px;
}

.wrapper {
  margin-top: 60px;
}

.card .image-head h5 {
  font-size: 14px;
}

.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}
