<footer style="background-color: #444; color: #fff; box-shadow: 0px 0px 4px rgba(0,0,0,.8)">
  <div class="pack" style="width: 65%;">
    <div class="row">
      <div class="three cols">
        <h5><i class="icon ion-android-list"></i>&nbsp;サイトメニュー</h5>
        <ul>
          <a href="/"><li>TOP</li></a>
          <a href="/"><li>Popular</li></a>
          <a href="/"><li>Category</li></a>
        </ul>
      </div>
      <div class="three cols">
        <h5><i class="icon ion-pricetag"></i>&nbsp;人気タグ</h5>
      </div>
      <div class="three cols">
        <h5><i class="icon ion-heart"></i>&nbsp;おすすめサイト</h5>
        <ul>
          <a href="/"><li>Eroten</li></a>
          <a href="/"><li>Boobs Picks</li></a>
        </ul>
      </div>
      <div class="three cols">
        <h5><i class="icon ion-information-circled"></i>&nbsp;その他</h5>
        <ul>
          <a href="/"><li>お問い合わせ</li></a>
          <a href="/"><li>違反報告 / 削除依頼</li></a>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" style="background-color: #333;">
    <div class="twelve cols tx-center copyright">
      &copy; 2016 Nampa-Picks.net
    </div>
  </div>

</footer>
