<header id="header" data-headroom class="erp-header menu-header cd-auto-hide-header">
  <div class="logo-wrapper">
    <a href="/"><span class="logo"><i class="icon ion-fireball"></i>&nbsp;Nampa Picks</span></a>
  </div>
</header>
