<header id="header" data-headroom class="erp-header menu-header cd-auto-hide-header">
  <div class="erp-header-wrapper">
    <div class="left">

    </div>
    <div class="center logo-wrapper">
      <a href="/">
        <span class="logo"><i class="icon ion-fireball"></i>&nbsp;Nampa Picks
        <p>素人ナンパ専門の動画キュレーションサイト</p></span>
      </a>
    </div>
    <div class="right">
      <i class="icon ion-android-archive animated"></i>
      <span class="favorite-badge"></span>
      <p>あなたのお気に入り</p>
    </div>
  </div>
</header>
