<div class="sidebar twelve cols">
  <div class="card">
    <div class="head">
      <i class="icon ion-android-list"></i>&nbsp;メニュー
    </div>
    <div class="body card-menu">
      <ul>
        <%= link_to new_article_path do %>
          <li>記事投稿</li>
        <% end %>
        <%= link_to admin_path do %>
          <li>記事管理</li>
        <% end %>
      </ul>
    </div>
    <div class="foot">
      <%= link_to root_path, class: "full-x card-btn" do %>TOPに戻る<% end %>
    </div>
  </div>
</div>
