<div class="sidebar twelve cols">
  <div class="card" style="margin-bottom: 8px;">
    <div class="head">
      <i class="icon ion-android-list"></i>&nbsp;サイトメニュー
    </div>
    <div class="body card-menu">
      <ul>
        <li><i class="icon ion-home"></i><%= link_to 'トップ', root_path %></li>
        <li><i class="icon ion-home"></i><%= link_to '人気動画', ranking_articles_path %></li>
      </ul>
      <div class="sidebar-search">
        <span><i class="icon ion-search"></i>&nbsp;クイックサーチ</span>
        <input type="text" name="name" value="" placeholder="動画を検索">
      </div>
    </div>
  </div>
  <div class="card" style="margin-bottom: 8px;">
    <div class="head">
      <i class="icon ion-pricetags"></i>&nbsp;人気のタグ
    </div>
    <div class="body">
      <ul style="margin: 0">
        <% @sidebar_tags.each do |tag| %>
          <%= render 'layouts/tag', tag: tag %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="card" style="margin-bottom: 8px;">
    <div class="head">
      <i class="icon ion-earth"></i>&nbsp;関連サイト
    </div>
    <div class="body card-menu">
      <ul>
        <li><i class="icon ion-forward"></i>&nbsp;グループサイト名</li>
        <li><i class="icon ion-forward"></i>&nbsp;グループサイト名</li>
        <li><i class="icon ion-forward"></i>&nbsp;グループサイト名</li>
      </ul>
    </div>
  </div>
</div>
