<div class="sidebar twelve cols">
  <div class="card" style="margin-bottom: 8px;">
    <div class="head">
      <i class="icon ion-android-list"></i>&nbsp;サイトメニュー
    </div>
    <div class="body card-menu">
      <ul>
        <a href="/"><li><i class="icon ion-home"></i>トップ</li></a>
        <li><i class="icon ion-home"></i>トップ</li>
        <li class="last"><i class="icon ion-home"></i>トップ</li>
      </ul>
      <div class="sidebar-search">
        <span><i class="icon ion-search"></i>&nbsp;クイックサーチ</span>
        <input type="text" name="name" value="" placeholder="動画を検索">
      </div>
    </div>
  </div>
  <div class="card" style="margin-bottom: 8px;">
    <div class="head">
      <i class="icon ion-pricetags"></i>&nbsp;人気のタグ
    </div>
    <div class="body">
      <ul style="margin: 0">
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;あいうえお</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;かきく</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;さしすせ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;たちつ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;なにぬ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;はひふへ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;まみむめも</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;やゆ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;らりるれ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;わ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;アイウエオ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;カキク</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;サシスセ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;タチツテト</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;ナニヌ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;ハヒフ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;マミムメモ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;ヤユ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;ラリルレ</span>
        <span class="tag"><i class="icon ion-pricetag"></i>&nbsp;ワヲ</span>
      </ul>
    </div>
  </div>
  <div class="card" style="margin-bottom: 8px;">
    <div class="head">
      <i class="icon ion-earth"></i>&nbsp;関連サイト
    </div>
    <div class="body card-menu">
      <ul>
        <li><i class="icon ion-forward"></i>&nbsp;グループサイト名</li>
        <li><i class="icon ion-forward"></i>&nbsp;グループサイト名</li>
        <li class="last"><i class="icon ion-forward"></i>&nbsp;グループサイト名</li>
      </ul>
    </div>
  </div>
</div>
